@model ATTT.Models.RegisterViewModel

@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<body style="background-size:cover">
    
    <section class="main">
        <div class="layer">

            <div class="bottom-grid">
                <div class="logo">
                    <h1> <a href="index.html"><span class="fa fa-key"></span> Key</a></h1>
                </div>
            </div>
            <marquee direction="right" style="color: whitesmoke;font-weight:bold:200"> Người thành công luôn đi một mình</marquee>
            <div class="content-w3ls">
                <div class="text-center icon">
                    <span class="fa fa-html5"></span>
                </div>
                <div class="content-bottom">
                    <form action="#" method="post">
                        <div class="form-group">
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            @if (@ViewBag.Success != null)
                            {
                                <div class="alert alert-success">@ViewBag.Success</div>
                            }
                        </div>
                        <div class="field-group">
                            <span class="fa fa-user" aria-hidden="true"></span>
                            <div class="wthree-field">
                                <input name="Username" id="text1" type="text" value="" placeholder="Username" required>
                            </div>
                        </div>
                        <div class="field-group">
                            <span class="fa fa-lock" aria-hidden="true"></span>
                            <div class="wthree-field">
                                <input name="Password" id="myInput" type="Password" placeholder="Password">
                            </div>
                        </div>
                        <div class="field-group">
                            <span class="fa fa-lock" aria-hidden="true"></span>
                            <div class="wthree-field">
                                <input name="ConfirmPassword" id="myInput" type="Password" placeholder="ConfirmPassword">
                            </div>
                        </div>

                        <div class="label">
                            <div class="col-md-5">
                                @Html.DisplayFor(m => m.Question1, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="field-group">
                            <span class="fa fa-lock" aria-hidden="true"></span>
                            <div class="wthree-field">
                                <input name="Answer1" id="myInput" type="text" placeholder="Answer">
                            </div>
                        </div>

                        <div class="wthree-field">
                            <button type="submit" class="btn">Register</button>
                        </div>
                        <ul class="list-login">
                            <li class="switch-agileits">

                            </li>

                            <li class="clearfix"></li>
                        </ul>

                    </form>
                </div>
            </div>


        </div>
        </div>
    </section>

</body>
