@{
    var session = (UserLogin)Session[ATTT.Common.CommonConstant.USER_SESSION];
}


@if (session == null)
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
else
{
<ul class="nav navbar-nav navbar-right">
    <li class="nav-item dropdown no-arrow">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown">
            <span class="mr-2">Xin chào: @session.Username</span>
        </a>
        <div class="dropdown-menu dropdown-menu-right shadow">
            <a class="dropdown-item" href="/Account/UserDetail/@session.userID">
                Sửa thông tin
            </a>
        </div>
    </li>
    <li>@Html.ActionLink("Đăng xuất","Logout","Account")</li>
</ul>
}

